<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Метод Пиявского или метод ломаных</title>
    <!-- Для графиков, формул, дизайна-->

    <script type="text/javascript" src="antColony/lib/kotlin.js"></script>
    <script type="text/javascript" src="antColony/antColony.js"></script>

    <script type="text/javascript" src="reference/jquery-3.2.1.min.js"></script>
    <script src="reference/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="reference/bootstrap-4/css/bootstrap.min.css">
    <script src="reference/bootstrap-4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="reference/katex.min.js"></script>
    <link rel="stylesheet" type="text/css" href="reference/katex.min.css">
    <!-- Для Тестирования-->
    <script type="text/javascript" src="reference/jasmine.js"></script>
    <script type="text/javascript" src="reference/jasmine-html.js"></script>
    <script type="text/javascript" src="reference/boot.js"></script>
    <link rel="shortcut icon" type="image/png" href="reference/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="reference/jasmine.css">
    <!-- Основные-->
    <script type="text/javascript" src="reference/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="piyavskyMethod.js"></script>
    <script type="text/javascript" src="belman.js"></script>
    <script type="text/javascript" src="geneticAlgorithm.js"></script>
    <script type="text/javascript" src="graph.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>
<div class="head">
    <div class="logo">
        <a href="#">
            <img src="itmo_logo.png" alt="Итмо.Финтех"/>
        </a>
    </div>
    <div class="top-menu">
        <a href="https://bitbucket.org/Difenischin/piyavskymethod">Bitbucket</a>
    </div>
</div>

<h1 class="text-center">Метод Пиявского или метод ломаных</h1>
<div class="container">
    <div id="value-container">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Функция</div>
            <span id="function"></span>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Левая граница</div>
            <input class="form-control"
                   placeholder="Левая граница"
                   v-model.number="leftBorder">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Правая граница</div>
            <input class="form-control"
                   placeholder="Правая граница"
                   v-model.number="rightBorder">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">α</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="alpha">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">β</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="beta">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">γ</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="gamma">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Количество итераций</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="countIterations">
        </div>
        <button class="btn btn-primary" v-on:click="updateCanvas">Построить график</button>
        <div v-if="result.resultAnswer">Наименьшее значение функции: {{result.resultAnswer}} достигается при Х =
            {{result.answer}} Количество итераций: {{result.countIterationForAccuracy}} Время: {{result.timeFind}}
        </div>
        <svg id="graph"></svg>
        <div>
            <h2> Параметры генетического алгоритма</h2>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Точность</div>
                <input class="form-control"
                       placeholder=""
                       v-model.number="genetikSettings.epsilon">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Максимальное колличество итераций</div>
                <input class="form-control"
                       placeholder=""
                       v-model.number="genetikSettings.maxCountIteration">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Количество особой в популяции</div>
                <input class="form-control"
                       placeholder=""
                       v-model.number="genetikSettings.allCountPopulation">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Число шагов, через которые будут возникать мутации</div>
                <input class="form-control"
                       placeholder=""
                       v-model.number="genetikSettings.mutationStep">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Количество особей защищённых от мутации</div>
                <input class="form-control"
                       placeholder=""
                       v-model.number="genetikSettings.countProtectedFromMutation">
            </div>
            <div v-if="geneticResult">Наименьшее значение функции: {{geneticResult.resultFunction}} достигается при Х =
                {{geneticResult.value}} Время : {{geneticResult.timeFind}}
            </div>
            <div id="myDiv"></div>
            <table v-if="geneticResult" class="table-striped" border="1">
                <tr>
                    <th v-for="populations in geneticResult.resultIterations">
                        Популяция
                    </th>
                </tr>
                <tr>
                    <td  v-for="populations in geneticResult.resultIterations">
                        <ul>
                            <li v-for="population in populations">
                                X: {{ population.value}} Значение функции {{population.resultFunction}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<h1 class="text-center">Параметры муравьинного алгоритма</h1>
<div class="container">
    <div id="ant-colony">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Старт</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.start">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Конец</div>
            <input class="form-control"
                   placeholder="Левая граница"
                   v-model.number="algoritmSettings.end">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Стартовое значение феромонов</div>
            <input class="form-control"
                   placeholder="Правая граница"
                   v-model.number="algoritmSettings.startPheromone">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Оставляемые феромоны</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.pheromoneInsertConstant">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Константа испарения феромона</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.pheromoneEvaporationConstant">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Количество итераций</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.iterationsCount">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Жадность</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.greediness">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Стадность</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.herdInstinct">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Количество муравьёв</div>
            <input class="form-control"
                   placeholder=""
                   v-model.number="algoritmSettings.antCount">
        </div>
        <button class="btn btn-primary" v-on:click="run">Запустить</button>
    </div>
<footer class="footer">
    © BurdinskiyVA@gmail.com
</footer>
</body>
</html>