html, body {
    font: Arial, Helvetica, sans-serif;
}

.head {
    height: 58px;
}

.logo {
    width: 68px;
    height: 12px;
    position: absolute;
}

.logo img {
    height: 58px;
}

.top-menu {
    float: right;
    margin-top: 16px;
    margin-right: 1%;;
}

.top-menu a {
    color: #0698e3;
    text-decoration: none;
    font: bold 15px Arial;
}

.top-menu a:hover {
    outline: none;
    color: #18c60f;

}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.axis .grid-line {
    stroke: #000;
    shape-rendering: crispedges;
    stroke-opacity: 0.2;
}

table {
    width: 100%;
}

td {
    padding: 5px;
    vertical-align: top;
}